<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="lib/bootstrap-4.5.3-dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="lib/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/dk-popup/assets/animate/animate.min.css">
    <link rel="stylesheet" href="lib/dk-popup/css/dk-popup.css">
    <link rel="stylesheet" href="lib/cssload/lds_ripple.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="login-body dark-theme">
<div class="container">
    <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading mb-3">Lütfen Giriş Yapın</h2>
        <div th:if="${param.error}" class="alert alert-danger">
            Geçersiz kullanıcı adı veya şifre!
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            Oturumunuzu kapattınız!
        </div>
        <p>
            <label for="username" class="sr-only">Kullanıcı Adı</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Parola</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
        <h3 class="mt-3">Bir hesabınız yok mu?</h3>
        <button type="button" class="btn btn-lg btn-info btn-block mt-3" onclick="signUpPopup()">Kayıt Ol</button>
    </form>
</div>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/dk-popup/js/dk-popup.js"></script>
<script src="js/main.js"></script>
<script src="js/login.js"></script>
</body></html>